openapi: 3.2.0
info:
  version: 3.0.0
  title: Splitwise Comments API
  x-logo:
    url: https://www.splitwise.com/assets/press/logos/sw.svg
    altText: Splitwise logo and name
  description: '# Introduction

    Hey there!'
servers:
- url: https://secure.splitwise.com/api/v3.0
  variables: {}
security:
- OAuth: []
- ApiKeyAuth: []
tags:
- name: Comments
  x-displayName: Comments
paths:
  /get_comments:
    get:
      tags:
      - Comments
      summary: Get expense comments
      parameters:
      - in: query
        name: expense_id
        schema:
          type: integer
        required: true
        example: 4193
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  comments:
                    type: array
                    items:
                      $ref: '#/components/schemas/comment'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
      operationId: getGetComments
      x-operation-id-source: derived
  /create_comment:
    post:
      tags:
      - Comments
      summary: Create a comment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                expense_id:
                  type: integer
                  example: 5123
                content:
                  type: string
                  example: Does this include the delivery fee?
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  comment:
                    allOf:
                    - $ref: '#/components/schemas/comment'
                    - type: object
                      properties:
                        relation_id:
                          example: 5123
                        comment_type:
                          example: User
                        content:
                          example: Does this include the delivery fee?
                        user:
                          $ref: '#/components/schemas/comment_user'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
      operationId: postCreateComment
      x-operation-id-source: derived
  /delete_comment/{id}:
    post:
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      tags:
      - Comments
      summary: Delete a comment
      description: Deletes a comment. Returns the deleted comment.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  comment:
                    allOf:
                    - $ref: '#/components/schemas/comment'
                    - type: object
                      properties:
                        comment_type:
                          example: User
                        content:
                          example: Does this include the delivery fee?
                        user:
                          $ref: '#/components/schemas/comment_user'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/forbidden'
        '404':
          $ref: '#/components/responses/not_found'
      operationId: postDeleteCommentById
      x-operation-id-source: derived
components:
  responses:
    forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/forbidden'
    unauthorized:
      description: Invalid API key or OAuth access token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/unauthorized'
    not_found:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/not_found'
  schemas:
    comment:
      type: object
      properties:
        id:
          type: integer
          example: 79800950
        content:
          type: string
          example: 'John D. updated this transaction: - The cost changed from $6.99 to $8.99'
        comment_type:
          type: string
          enum:
          - System
          - User
        relation_type:
          type: string
          enum:
          - ExpenseComment
        relation_id:
          type: integer
          example: 855870953
          description: ID of the subject of the comment
        created_at:
          type: string
          format: date-time
        deleted_at:
          type:
          - string
          - 'null'
          format: date-time
        user:
          $ref: '#/components/schemas/comment_user'
    comment_user:
      type: object
      properties:
        id:
          type: integer
          example: 491923
        first_name:
          type: string
          example: Jane
        last_name:
          type: string
          example: Doe
        picture:
          type: object
          properties:
            medium:
              type: string
              example: image_url
    forbidden:
      type: object
      properties:
        errors:
          type: object
          properties:
            base:
              type: array
              items:
                type: string
                example: 'Invalid API request: you do not have permission to perform that action'
    unauthorized:
      type: object
      properties:
        error:
          type: string
          example: 'Invalid API request: you are not logged in'
    not_found:
      type: object
      properties:
        errors:
          type: object
          properties:
            base:
              type: array
              items:
                type: string
                example: 'Invalid API Request: record not found'
  securitySchemes:
    OAuth:
      type: oauth2
      description: 'Splitwise uses OAuth 2 with the authorization code flow. To connect via OAuth 2, you''ll need to [register your app](https://secure.splitwise.com/apps). When you register, you''ll be given a key and secret.


        **Note**: OAuth can be a very confusing protocol to implement correctly, and we **strongly** recommend

        that you use an existing OAuth library to connect to Splitwise. You can find a list of OAuth client libraries at the

        [OAuth community site](https://oauth.net/code/#client-libraries).


        For more information on using OAuth, check out the following resources:


        - The OAuth community [getting started guide](https://oauth.net/getting-started/)

        - The oauth.com [OAuth 2.0 playground](https://www.oauth.com/playground/) (great for debugging authorization issues)

        - This [old Splitwise blog post](https://blog.splitwise.com/2013/07/15/setting-up-oauth-for-the-splitwise-api/) about OAuth

        '
      flows:
        authorizationCode:
          authorizationUrl: /oauth/authorize
          tokenUrl: /oauth/token
          scopes: {}
    ApiKeyAuth:
      type: http
      description: 'For speed and ease of prototyping, you can generate a personal API key on your app''s details page. You should present this key to the server via the Authorization header as a Bearer token. The API key is an access token for your personal account, so keep it as safe as you would a password.

        If your key becomes compromised or you want to invalidate your existing key for any other reason, you can do so on the app details page by generating a new key.'
      scheme: bearer
      bearerFormat: API key
